body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #e9e9e9;
  color: #140914;

  line-height: 1.1;
}

html,
body,
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Media query breakpoints. TLDR; use em. https://zellwk.com/blog/media-query-units/ */

/* Medium and under */
@media (max-width: 49.9375em) {

}

/* Large and above */
@media (min-width: 50em) {

}